<h1> Heres a list of all songs! </h1>
<ul>
  <% @songs.each do |song| %>
  <li>  <%= link_to song.artist_name + " - " + song.title, song_path(song) %>
  </li>
  <% end %>
</ul>

<!-- <h1>Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        <%= song.artist_name %>
        -
        <%= song.title %>
      </a>
    </li>
  <% end %>
</ul> -->
