<h1>Songs</h1>
<ul>
<% @songs.all.each do |song|%>
<% if song.artist %>
  <li><%= link_to song.artist.name + " - " + song.title , song_path(song)%></li>
<% else %>
  <li><%= link_to song.title , song_path(song)%></li>
  <% end %>
<% end %>
</ul>
